@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --background-main: rgb(49, 49, 49);
    --light: rgb(216, 216, 236);
    --dark: rgb(77, 77, 77);
    --text: rgb(216, 216, 216);
    --text-dark: rgb(22, 22, 22);

}

/* anims */


body {
    background-color: var(--background-main);
    font-family: 'Lato',sans-serif;
    
}

nav {
    background-color: var(--dark);
    padding: 0;
    display: flex;
    align-items: stretch;
}

a:link, a:visited, a:active, a {
    text-decoration: none;
    padding: 0.5em 1em;
    color:var(--text);
    background :var(--dark);
    transition: color 100ms, background 100ms;
    display: flex;
    align-items: center;
}

a:hover {
    color:var(--text-dark);
    background:var(--light);
}

.far{
    margin-left: auto;
}

.invert{
    filter: invert(1);
}

nav a img {
    max-width: 3em;
}